# Environments
.env
.env.*
.temp

# Git
.gitattributes
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.md

# Builds
.nuxt
.output
dist
build
*.local

# Dependencies
node_modules/

# misc
.svg
.public
.history
.npm
.npmrc
.npmignore
.cache
.package-lock.json